*{
    box-sizing: border-box;
}

.article{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.article > *>*{
    padding: 5px;
    margin: 0;
}

li{
    list-style: none;
    margin-bottom: 5px;
    border: 1px solid #000;
}

p{
    border: 1px solid #ff0000;
    display: block;
    width: max-content;
}

h1{
    border-bottom: 1px solid #000;
    margin: 0;
}
a{
    text-decoration: none;
}

footer>h1{
    display: block;
    margin-top: 50px;
    font-size: 26px;
}